* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    display: inline;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: 50px 70px;
}

.header-icons-container {
    height: 100%;
    background-color: #47cfac;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 50px;
}

.header-icons-container span {
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-logo-container {
    margin-left: 50px;
}

.nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

.nav-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.nav-link-container a {
    color: black;
    border-bottom: 1px solid black;
}